/**
 * Yesler theme for reveal.js.
 *
 * By Yesler Labs
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #ffffff;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
    &, h1, h2, h3, h4, h5, h6 {
        color: #222;
    }
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Theme specific styles -----------------------

.reveal .slides {
    //background : url(../../img/bg-slide-corner.png) no-repeat top right;
}
.reveal section {
    background-size : contain;
}

.reveal .slide-background {
    background : url(../../img/bg-slide-corner.png) no-repeat top right;
}

/*********************************************
 * SLIDE NUMBER
 *********************************************/

.reveal .slide-number {
    left: 30px;
    bottom: 20px;
    font-size: 16px;
    color: #222;
    padding: 5px;
    width : calc(100% - 150px);
    background-color : transparent;
    background : url(../../img/logos/yesler-logo-dark.svg) no-repeat top right;
    height : 20px;
    line-height: 20px;
    &::before {
        position: absolute;
        content : '';
        width : calc(100% - 165px);
        height : 1px;
        background : #bdbdbd;
        top : 14px;
        left : 40px;
    }
}















